<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="https://opentelemetry.io/favicons/favicon.ico" integrity="sha384-DWd5li4+HYZI+p1e1EOoFGi4T3xaNIHIApc6H5Li4Le9CWs5RU6rVhKcdVvSEs7+" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" integrity="sha384-eucWZCRUGCfvIJCTwz3dhHbbCJ0ZH+6Q15o/UiqTNByQ2lvXyqbkqpUskKqxOMVD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" integrity="sha384-JJ+iHMcntyq9rnkF4oIzyQXskFjLfjcUCV9hE9UjmW1RCJEU58AN2mkle9Bm+YRx" crossorigin="anonymous">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js" integrity="sha384-KxJ0gpu9LJdUtdV6oe5/l3PSF37awRaWGFhnKt8hq6vS3/Wlzy1YPuJzIwg/ljkW" crossorigin="anonymous"></script>
</head>
<body>
<h2>{{.Title}}</h2>