<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="https://opentelemetry.io/favicons/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css" integrity="sha512-BFPx8bauXbp9S6tTyzHVWQ1BB6PCOfbezdGyfcw+zyA8xDv4oImzQf2DQ08EURZzlArPIRjcL+rPHxnDnTQpcw==" crossorigin="anonymous">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js" integrity="sha512-mPYFRGkgrXvIQo9eMKjv5vuy73j7kXXelllj3W49nVCKarBVOUxNai2dnqVIp8QnnVS7AKHwdFyZSVibSqWtkw==" crossorigin="anonymous"></script>
</head>
<body>
<h2>{{.Title}}</h2>